<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增应用账密')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-account-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">应用名称：</label>
                <div class="col-sm-8">
                    <input name="sAppname" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">应用站点1：</label>
                <div class="col-sm-8">
                    <textarea name="sSite1" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">应用站点2：</label>
                <div class="col-sm-8">
                    <textarea name="sSite2" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">应用站点3：</label>
                <div class="col-sm-8">
                    <textarea name="sSite3" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">登录账号：</label>
                <div class="col-sm-8">
                    <textarea name="sUsername" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">登录密码：</label>
                <div class="col-sm-8">
                    <textarea name="sPassword" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">查询密码：</label>
                <div class="col-sm-8">
                    <textarea name="sQueryPwd" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">取款密码：</label>
                <div class="col-sm-8">
                    <textarea name="sAtmPwd" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">支付密码：</label>
                <div class="col-sm-8">
                    <textarea name="sPayPwd" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">图形密码：</label>
                <div class="col-sm-8">
                    <textarea name="sGraphicPwd" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">指纹密码：</label>
                <div class="col-sm-8">
                    <textarea name="sFingerPwd" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">绑定邮箱：</label>
                <div class="col-sm-8">
                    <input name="sEmail" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">绑定手机：</label>
                <div class="col-sm-8">
                    <input name="sPhone" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">绑定身份证号：</label>
                <div class="col-sm-8">
                    <input name="sIdcardNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">绑定身份证名：</label>
                <div class="col-sm-8">
                    <input name="sIdcardName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">密码提示问题1：</label>
                <div class="col-sm-8">
                    <textarea name="sQuestion1" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">密码提示答案1：</label>
                <div class="col-sm-8">
                    <textarea name="sAnswer1" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">密码提示问题2：</label>
                <div class="col-sm-8">
                    <textarea name="sQuestion2" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">密码提示答案2：</label>
                <div class="col-sm-8">
                    <textarea name="sAnswer2" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">密码提示问题3：</label>
                <div class="col-sm-8">
                    <textarea name="sQuestion3" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">密码提示答案3：</label>
                <div class="col-sm-8">
                    <textarea name="sAnswer3" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="sRemark" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最后修改时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="dUpdateTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "am/account"
        $("#form-account-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-account-add').serialize());
            }
        }

        $("input[name='dUpdateTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>