<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改应用账密')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-account-edit" th:object="${tAccount}">
            <input name="iId" th:field="*{iId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">应用名称：</label>
                <div class="col-sm-8">
                    <input name="sAppname" th:field="*{sAppname}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">主站URL：</label>
                <div class="col-sm-8">
                    <input name="sSite1" th:field="*{sSite1}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">子站URL：</label>
                <div class="col-sm-8">
                    <input name="sSite2" th:field="*{sSite2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备用URL：</label>
                <div class="col-sm-8">
                    <input name="sSite3" th:field="*{sSite3}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">登录账号：</label>
                <div class="col-sm-8">
                    <input name="sUsername" th:field="*{sUsername}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">登录密码：</label>
                <div class="col-sm-8">
                    <input name="sPassword" th:field="*{sPassword}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">查询密码：</label>
                <div class="col-sm-8">
                    <input name="sQueryPwd" th:field="*{sQueryPwd}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">服务密码：</label>
                <div class="col-sm-8">
                    <input name="sServicePwd" th:field="*{sServicePwd}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">取款密码：</label>
                <div class="col-sm-8">
                    <input name="sAtmPwd" th:field="*{sAtmPwd}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">支付密码：</label>
                <div class="col-sm-8">
                    <input name="sPayPwd" th:field="*{sPayPwd}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">图形密码：</label>
                <div class="col-sm-8">
                    <input name="sGraphicPwd" th:field="*{sGraphicPwd}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">指纹密码：</label>
                <div class="col-sm-8">
                    <input name="sFingerPwd" th:field="*{sFingerPwd}" class="form-control" type="text" placeholder="请输入手指名称，多个用逗号分隔">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">绑定邮箱：</label>
                <div class="col-sm-8">
                    <input name="sEmail" th:field="*{sEmail}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">绑定手机：</label>
                <div class="col-sm-8">
                    <input name="sPhone" th:field="*{sPhone}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">绑定身份证号：</label>
                <div class="col-sm-8">
                    <input name="sIdcardNum" th:field="*{sIdcardNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">绑定身份证名：</label>
                <div class="col-sm-8">
                    <input name="sIdcardName" th:field="*{sIdcardName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">密码提示问题1：</label>
                <div class="col-sm-8">
                    <input name="sQuestion1" th:field="*{sQuestion1}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">密码提示答案1：</label>
                <div class="col-sm-8">
                    <input name="sAnswer1" th:field="*{sAnswer1}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">密码提示问题2：</label>
                <div class="col-sm-8">
                    <input name="sQuestion2" th:field="*{sQuestion2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">密码提示答案2：</label>
                <div class="col-sm-8">
                    <input name="sAnswer2" th:field="*{sAnswer2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">密码提示问题3：</label>
                <div class="col-sm-8">
                    <input name="sQuestion3" th:field="*{sQuestion3}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">密码提示答案3：</label>
                <div class="col-sm-8">
                    <input name="sAnswer3" th:field="*{sAnswer3}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="sRemark" class="form-control">[[*{sRemark}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最后修改时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="dUpdateTime" th:value="${#dates.format(tAccount.dUpdateTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "am/account";
        $("#form-account-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-account-edit').serialize());
            }
        }

        $("input[name='dUpdateTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>